@import '../../../styles/_variables.scss';
@import '../../../styles/mixin/_media.scss';

.ant-tabs-tab {
  font-weight: 500;
  font-size: rem(12px) !important;
  line-height: rem(24px);
  color: #6d7895;

  @include for-mobile {
    font-size: rem(10px) !important;
    line-height: rem(20px);
  }
}

.ant-tabs-tab-btn {
  color: $primary !important;
}

.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  background: #4e5af2;
  border-radius: rem(4px) rem(4px) 0 0;
}

.ant-tabs-nav-wrap {
  display: flex;
  justify-content: center;
}

.ant-tabs-tab {
  margin-left: 0 !important;
}

.ant-tabs-nav {
  margin-bottom: rem(48px) !important;

  @include for-mobile {
    margin-bottom: rem(28px) !important;
  }
}